.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding: 20px;
  border-radius: 8px;
}

.popup-content {
 padding:5px;
}

.close-button {
  align-self: flex-start;
  color:black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-form label {
  font-size: 18px;
  font-weight: bold;
}

.popup-form input {
 
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.popup-form button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
 background-color:black;
    display:flex;
    align-items:center;
  border: none;
  cursor: pointer;
}

.open-popup-button {
  margin-top: 20px;
   }
